<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"> <!-- content="define a cor do fundo do android e ios"-->
    <meta name="theme-color" content="rgb(123, 35, 223)"> <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>Site de testes</title>
</head>
<body ontouchstart="">
    <div class="pagina-inicial">
        <div class="carrossel_de_album" id="carrossel-container">
                  <!-- O JavaScript vai injetar os álbuns aqui dentro -->
        </div>
    </div>
   
    <div class="botões">
        <button class="btn-bolha-adaptativo">
            <img class="voltar" src="{{ url_for('static', filename='img/voltar.png') }}" alt="Voltar">
        </button>

        <button class="btn-adaptativo">
            Enviar arquivo!
        </button>
    </div>

        <!-- A TELA DO ÁLBUM (Escondida por padrão) -->
    <div class="album-view-overlay" id="album-view">
        <div class="album-view-header">
            <!-- O seu botão de voltar (btn-bolha) entra aqui para fechar a tela -->
            <button class="btn-bolha-adaptativo" id="btn-fechar-album">
                <img class="voltar" src="{{ url_for('static', filename='img/voltar.png') }}" alt="Voltar">
            </button>
        </div>
        
            <div class="album-view-content" id="album-view-content">
        <div style="text-align: center; padding: 20px;">
            <img id="detail-img" src="" style="width: 250px; border-radius: 16px; box-shadow: 0 10px 30px rgba(0,0,0,0.5);">
            <h2 class="text-adaptativo" id="detail-title" style="margin-top: 20px;"></h2>
            <p class="color-adaptativa--muted" id="detail-artist"></p>
            
            <!-- O Player de Áudio -->
            <audio id="audio-player" controls style="margin-top: 20px; width: 100%; max-width: 300px;">
                <source src="" type="audio/mpeg">
            </audio>
        </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>